@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
  background-color: grey;
  text-align: center;
}

#demo {
background: #D2BFB7;
background: -moz-linear-gradient(-45deg, #D2BFB7 0%, #1C6EA4 66%, #1A3142 100%);
background: -webkit-linear-gradient(-45deg, #D2BFB7 0%, #1C6EA4 66%, #1A3142 100%);
background: linear-gradient(135deg, #D2BFB7 0%, #1C6EA4 66%, #1A3142 100%);
}

h1  {
  font-family: 'Elsie', cursive;
  color: rgb(210, 191, 183);
  /* // font-size:
  // line-height: */
}

a {
  color: rgb(210, 191, 183);
  text-decoration: none;
}

a:hover {
  color: whitesmoke
}

.card {
  border: 10px;
  border-radius: 5px;
  box-shadow: 50px #4c5c68;
  background: rgb(26, 49, 66);
  color: rgb(210, 191, 183);
}

.card-projects {
  border: 10px;
  border-radius: 5px;
  box-shadow: 50px #4c5c68;
  background: rgb(26, 49, 66);
  color: rgb(210, 191, 183);
  text-align: center;
}
.card img {
  width: 150px;
  background-color: rgb(26, 49, 66);
}

.footer {
  background-color: rgb(210, 191, 183);
  color:  rgb(26, 49, 66);
}

.inline {
  List-style: none;
  text-align: center;
  padding-left: 0px;
}

.inline li {
  display: inline-block;
  padding: 0px 20px;
}

.img-circle {
  border-radius: 25%;
}

.class fab fa-linkedin {
  width: 50px;
}

.container {
  width: 600px;   /* This sets the width */
  height: 800px;
  margin: 0 auto; /* This automatically sets left/right margins */
  background-color: rgb(26, 49, 66);
  color: rgb(210, 191, 183);
  box-shadow: whitesmoke;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
